
<hr>
<section class="footers bg-light pt-5 pb-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 footers-one">
                <div class="footers-logo">
                    <img src="../assets/client/imageMainPage/icon1.png" alt="Logo" style="width:100px;">
                </div>
                <div class="footers-info mt-3">
                    <p>Website cập nhật truyện sớm nhất </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-two">
                <h5>Nhóm dịch truyện </h5>
                <ul class="list-unstyled">
                    <li><a href="maintenance.html">KhaiBluff</a></li>
                    <li><a href="contact.html">LocShadowr</a></li>
                    <li><a href="about.html">VuMayChem</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-three">
                <h5>Thông tin liên hệ </h5>
                <ul class="list-unstyled">
                    <li><a href="maintenance.html">fb:facebook.com</a></li>
                    <li><a href="contact.html"> gmail: khaibluff@gmail.com</a></li>
                    <li><a href="about.html">Số điện thoại: 0123456789</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 footers-four">
                <h5>Liên kết </h5>
                <ul class="list-unstyled">
                    <li><a href="#">KhaiBluff</a></li>
                    <li><a href="#">LocShadow</a></li>
                    <li><a href="#">VuMayChem</a></li>

                </ul>
            </div>
        </div>
    </div>
</section>